/* @import url("temas-colores-fuentes.css"); */
#encabezado-principal {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 30px 30px;
   font-family: 'work sans';
   font-size: 30px;
   background-color: #d3eee4;
   color: #3d6b45;
   text-align: center;
}
#encabezado-principal .menu a {
   text-decoration: none;
   color: #3d6b45;
   font-size: 25px;
}
#encabezado-principal .menu a:hover {
   color: #58a76c;
   font-weight: bold;
}
 
#encabezado-principal .buscador form input {
   width: 100%;
   padding: 10px;
   border: none;
   border-radius: 5px;
   border-bottom: 2px solid #3d6b45;
   font-size: 20px;
   font-family: 'titillium web';
   background-color: transparent;
   color: #070d0b;
} 
#encabezado-principal form input::placeholder {
   color: #3d6b45;
   font-family: 'titillium web';
}
#navegacion-categoria {
   background-color: lime;
}

#seccion-categoria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   background-color: #fcfdfd;
   justify-content: center;
}

.articulo-categoria {

   background-color: #d3eee4;
   border: solid 3px #3d6b45;
   border-radius: 20px;
   padding: 1em;
   margin: 0.5em;
}

#footer-principal {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* 3 columnas de igual tamaño */
   gap: 20px;
   background-color: #3d6b45;
   color: white;
   padding: 20px;
   font-family: 'work sans';
   font-size: 30px;
   height: auto;
   text-align: start;
   padding-left: 100px;
}

#footer-principal h4 {
   font-size: 30px;
   font-family: 'Titillium Web';
   margin-bottom: 20px;

}

#footer-principal-centro {
   display: flex;
   flex-direction: column;
}

#footer-principal-centro #qr-code {
   align-self: center;
   width: 150px;
   height: 150px;
}

#footer-principal-centro .boton-registrarse {
   background-color: #58a76c;
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 20px;
   font-family: 'Titillium Web';
   cursor: pointer;
   border-radius: 50px;
}

#footer-principal-centro .boton-registrarse:hover {
   background-color: #8eaf93;
   color: white;
}

#footer-principal ul {
   list-style-type: none;
   padding: 0;
   margin-top: 40px;
}

#footer-principal ul li a {
   text-decoration: none;
   color: white;
   text-transform: uppercase;
   font-size: 20px;

}

img {
   max-height: 500px;
}

.detalle-articulo {
   display: flex;
   align-items: center;
   flex-direction: column;
}


.header-articulo {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.item-valor-nombre {
   font-weight: 800;
   border-style: groove;
   border-width: 0px 0px 3px 0px;
   border-color: #8eaf93;
   text-align: center;
   font-size: 35px;
   font-family: 'Titillium Web';
}

.item-valor-autor {
   font-size: 20px;
   font-family: 'Biryani'
}

#navegacion-categoria {
   border: solid 2px #3d6b45;
   border-radius: 10px;
   background-color: #d3eee4;
   font-family: 'Titillium Web';
   display: flex;
   font-size: 24px;
   font-weight: bolder;
   justify-content: space-evenly;
   margin-bottom: 15px;
}

.tab-categoria {
   color: #070d0b;
   padding: 0px 20px 0px 20px;
   text-decoration: none;
}
.tab-categoria:hover {
   color: #fcfdfd;
   background-color: #070d0b;
   border-radius: 10px;
}

.item-valor-descripcion {
   font-family: 'Work Sans';
   font-size: 20px;
}

.detalle-articulo h4 {
   font-size: 45px;
   font-family: 'Titillium Web';
   margin-bottom: 0px;
   margin-top: 20px;
}

.detalle-articulo p {
   margin-bottom: 40px;
   padding-bottom: 5px;
   border-style: groove;
   border-width: 0px 0px 3px 0px;
   border-color: #8eaf93;
}