/* @import url("temas-colores-fuentes.css"); */
#encabezado-principal {
   background-color: red;
   color: white;
}

#navegacion-categoria {
   background-color: lime;
}

#seccion-categoria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   background-color: orange;
   justify-content: center;
}

.articulo-categoria {
   border: solid 3px gray;
   padding: 1em;
   margin: 0.5em;
}

#footer-principal {
   background-color: blue;
   color: white;
}

#qr-code {
   width: 100px;
   height: 100px;
}

img {
   max-height: 500px;
}

.detalle-articulo {
   display: flex;
   align-items: center;
   flex-direction: column;
}


.header-articulo {
   display: flex;
   flex-direction: column;
   align-items: center;
}