/* estilos-registrarse.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    background-color: var(--color-fondo);
}

.contenedor {
    border-radius: 45px;
    border: 3px solid var(--color-texto);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inputMailContraseña {
    margin: 5px;
}

.botonInicioSesionRegistro {
    border: none;
    color: var(--color-fondo);
    border-radius: 10px;
    background-color: var(--color-acento-1);
    margin: 12px 0px 0px 0px;
    padding: 14px 40px;
    font-size: 16px;
    font-family: 'Work Sans';
    cursor: pointer;
    font-weight: bold;
}

.botonInicioSesionRegistro:hover {
    background-color: var(--color-acento-2);
    color: var(--color-texto);
    transition: 0.3s;
}

.formtext input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: var(--color-acento-2);
    opacity: 0.6;
    font-family: 'Work Sans';
    color: var(--color-texto);
}

.formtext input::placeholder {
    color: var(--color-texto);
    opacity: 0.8;
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Titillium Web';
    color: var(--color-texto);
    height: 40px;
}

.hiperlink {
    font-size: 14px;
    font-family: 'Work Sans';
    color: var(--color-acento-1);
    text-decoration: dashed underline;
}

.parrafos {
    font-size: 14px;
    font-family: 'Work Sans';
    color: var(--color-texto);
}