/* Foto de Perfil HEADER */
.logo {
    justify-content: flex-start;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.sesion-iniciada-icono {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 33%;
    justify-content: flex-end;
}

.sesion-iniciada-icono span {
    color: var(--color-texto);
    font-family: 'Work Sans', sans-serif;
}

/* Contenedor principal de la película en detalle */
.detalle-pelicula {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    width: 100%;
    padding: 1em;
    background-color: var(--color-fondo);
}

/* Imagen de la película en detalle */
.detalle-portada {
    width: 300px;
    height: auto;
    position: relative;
}

.detalle-portada img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgb(78, 87, 74);
}


/* Informacion de la Pelicula */
.detalle-info {
    flex: 1 1 350px;
    /* Esto hace que el contenedor ocupe al menos 350px de ancho */
    min-width: 300px;
    max-width: 600px;
}

.detalle-info h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: var(--color-texto);
    display: inline-block;
}

.detalle-info h3 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 2em;
    color: var(--color-texto);
    display: inline-block;
}

.detalle-info p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.detalle-info span {
    font-style: italic;
}

/* Reparto */
.detalle-premios {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    max-width: 25em;
}

.detalle-titulo-reparto,
.detalle-titulo-premios {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0.5em;
    color: var(--color-texto);
    width: 100%;
    font-weight: 600;
    padding-bottom: 1em;
    border-bottom: var(--color-acento-3) 0.1em solid;
    font-size: 1em;
}

.detalle-reparto,
.detalle-premios li {
    font-family: 'Work Sans', sans-serif;
    flex: 1 1 45%;
    color: var(--color-texto);
    display: inline-block;
    padding: 0.5em;
    min-width: 10em;
    /* Acordate que esto lo hiciste para que el ancho mínimo no se vea muy pequeño */
    font-size: 15px;
    width: 100%;
}

.detalle-reparto {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    /* Espacio entre los actores */
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
}

.detalle-reparto li {
    background-color: #d3eee4;
    color: #070d0b;
    border-radius: 0.5em;
    padding: 5px;
    margin-bottom: 0.5em;
    width: fit-content;
}

.info-imagen {
    display: flex;
    justify-content: space-between;
    width: max-content
}

/* Taquilla */

/* Duracion */
.detalle-duracion {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px rgb(78, 87, 74);
    z-index: 1;
}

/* Premios */

.detalle-premios-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em 2em;
    /* Acordate que esto lo hiciste para el espacio entre fila y fila */
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    max-width: 25em;
}

/* Clasificacion por Edad */
.detalle-edad {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--color-texto);
    color: var(--color-fondo);
    width: 60px;
    position: absolute;
    top: 0;
    border-top-left-radius: 10px;
    /* border-bottom: 1px solid var(--color-fondo);
    border-right: 1px solid var(--color-fondo); */
}

/* Detalle del panel para la calificacion */
.detalle-panel {
    border-radius: 1em;
    padding: 2em 1.5em;
    color: var(--color-texto);
    text-align: center;
    box-shadow: 0 4px 24px rgb(78, 87, 74);
    margin-left: 2em;
}

.detalle-calificacion h4 {
    font-family: 'Work Sans', sans-serif;
    margin: 1em 0.5em;
    font-size: 1em;
}

.estrella {
    color: var(--color-acento-);
    font-size: 1.5em;
    margin: 0 0.1em;
}

/* ===================== */
/*   MEDIA QUERIES      */
/* ===================== */

@media (max-width: 1200px) {
    .detalle-pelicula {
        gap: 1em;
        padding: 0.5em;
    }

    .detalle-info {
        max-width: 500px;
    }

    .detalle-portada {
        width: 250px;
    }

    .detalle-portada img {
        width: 250px;
    }
}

@media (max-width: 900px) {
    .detalle-pelicula {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .detalle-info h2 {
        font-size: 1.8em;
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .detalle-info p {
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        text-align: justify;
        padding: 10px;
    }

    .detalle-info {
        max-width: 100%;
    }

    .detalle-portada {
        width: 250px;
    }

    .detalle-portada img {
        width: 250px;
    }

    .detalle-panel {
        margin: 1em;
    }

    .logo img {
        max-width: 36px;
        max-height: 36px;
    }

    .detalle-duracion {
        font-size: 0.85em;
    }
}

@media (max-width: 600px) {
    .detalle-pelicula {
        padding: 0.5em;
        gap: 1em;
    }

    .detalle-info h2 {
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .detalle-info p {
        font-size: 1em;
        display: flex;
        justify-content: center;
        text-align: justify;
        padding: 10px;
        margin: 0;
    }

    .detalle-info h3 {
        font-size: 1em;
    }

    .detalle-portada {
        width: 220px;
    }

    .detalle-portada img {
        width: 220px;
    }

    .detalle-reparto li {
        font-size: 12px;
        padding: 3px;
    }

    .detalle-panel {
        padding: 1em;
        margin: 1em;
    }

    .logo img {
        max-width: 28px;
        max-height: 28px;
    }

    .detalle-duracion {
        font-size: 0.85em;
    }

    .foto-perfil {
        height: 28px;
        width: 28px;
    }
}