/* URL Paleta de colores LIGHT: https://www.coloreasily.com/?colors=070d0b-fcfdfd-3d6b45-d3eee4-8eaf93 */
/* URL Paleta de colores DARK: https://www.coloreasily.com/?colors=ffffff-070d0b-d3eee4-34603b-58a76c */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Biryani');

:root {
   --light-color-texto: #070d0b;
   --light-color-fondo: #fcfdfd;
   --light-color-acento-1: #3d6b45;
   --light-color-acento-2: #d3eee4;
   --light-color-acento-3: #8eaf93;
   --dark-color-texto: #ffffff;
   --dark-color-fondo: #070d0b;
   --dark-color-acento-1: #d3eee4;
   --dark-color-acento-2: #34603b;
   --dark-color-acento-3: #58a76c;
}

 .light-theme {
   color: var(--light-color-texto);
   background-color: var(--light-color-fondo);
}

.dark-theme {
   color: var(--dark-color-texto);
   background-color: var(--dark-color-fondo);
}
